@{
    ViewBag.Title = "Index";
    var id = ViewBag.Id;
}

<h2>Student Detail</h2>

<a href="/Student/Edit?id=@id">edit</a>
<div id="divStudentContent">
    <table>
        <tr>
            <td>Id</td>
            <td data-bind="text: viewModel.id"></td>
        </tr>
        <tr>
            <td>SSN</td>
            <td data-bind="text: viewModel.ssn"></td>
        </tr>
        <tr>
            <td>First</td>
            <td data-bind="text: viewModel.first"></td>
        </tr>
        <tr>
            <td>Last</td>
            <td data-bind="text: viewModel.last"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td data-bind="text: viewModel.email"></td>
        </tr>
        <tr>
            <td>Shoe Size</td>
            <td data-bind="text: viewModel.shoesize"></td>
        </tr>
        <tr>
            <td>Weight</td>
            <td data-bind="text: viewModel.weight"></td>
        </tr>
    </table>
</div>

<div id="test">
    <table>
        <thead>
            <tr>
                <td>year</td>
                <td>quarter</td>
                <td>title</td>
                <td>detail</td>
                <td>actions</td>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel">
            <tr>
                <td data-bind="text: year"></td>
                <td data-bind="text: quarter"></td>
                <td data-bind="text: title"></td>
                <td data-bind="text: detail"></td>
                <td>
                    <div data-bind="template: {name: 'action-template', data: $data}"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        require(['ViewModels/StudentViewModel'], function (studentViewModel) {
            var studentViewModelObj = new studentViewModel();
            studentViewModelObj.GetDetail("@id");
        });
    });
</script>

<script type="text/html" id="action-template">
    <a>Drop</a> <!-- TODO -->
    <a data-bind="attr: { href : '/Tutor/TutorBySchedule?id=' + id, title: 'tutors' }">Tutors</a>
    <a data-bind="attr: { href : '/Cape/Course?id=' + courseId, title: 'Cape'}">Cape</a>
</script>
